
.header {
  padding: 25px 0;
  background-color: #25292F;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__item {
    margin-right: 30px;
    a {
      display: block;
      color: #ffffff;
      text-decoration: none;
      border-bottom: 2px solid transparent;
      font-size: 18px;
      line-height: 24px;
    }
    a.active {
      border-bottom: 2px solid #f24100;
    }
  }
  &__item-btn{
    margin-left: auto;
    cursor: pointer;
    a {
      padding: 5px 20px;
      color: #25292F;
      background-color: #f9f4f4;
      transition: background-color 0.4s,color 0.4s;
      &:hover{
        color:  #f9f4f4;
        background-color: #0d0e12;
      }
    }
  }
}
