
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  /* Растягиваем body по высоте html */
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

#root{
  min-height: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  background-color: transparent;
}

a {
  color: #ffffff;
  text-decoration: none;
}

h3, h1, h2 {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

input {
  padding: 5px 20px;
  width: 100%;
  max-width: 370px;
  border: 1px solid #25292F;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
}
textarea{
  padding: 5px 20px;
  width: 100%;
  max-width: 370px;
  border: 1px solid #25292F;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px;
}
.btn {
  padding: 10px;
  width: 100%;
  max-width: 270px;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  cursor: pointer;
  background-color: #e02900;
  box-shadow: 0 5px 10px rgba(225, 83, 83, 0.15);
  transition: background-color 0.2s;
  &:hover{
    background-color: #ff2500;
  }
}



.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
